// @import '~bootstrap/scss/bootstrap';

// $primary: #0099f5; // Favorite Blue
// $primary: #1684d8; // Favorite Blue
$secondary: #1684d8; // Favorite Blue
$primary: #0057ff; // Dark blue
// $secondary: #0057ff; // Dark blue
$success: #2b8023; // Green
$info: #ecf8ff; // Light blue
$warning: #ffbcbc; // Light red
$danger: #c00000; // Red
$light: #faf8f8; // Light grey
$dark: #343a40; // Dark grey
$white: #ffffff; // White
$black: #000000; // Black

$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
$box-shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.6);
