// @import '~bootstrap/scss/bootstrap';

$primary: #0099f5; // Favorite Blue
$secondary: #726d6d; // Dark grey
$success: #ccffc799; // Light green
$info: rgba(0, 153, 245, 0.22); // Light blue
$warning: #ffbcbc; // Light red
$danger: #0057ff; // Main Contrast Blue
$light: #f8f9fa; // Light grey
$dark: #343a40; // Dark grey
$white: #ffffff; // White
$black: #000000; // Black

$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
$box-shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.6);
