$primary: #0057ff; // Dark blue
$secondary: #1572b9; // Favorite Blue
$success: #2b8023; // Green
$info: #ecf8ff; // Light blue
$warning: #ffbcbc; // Light red
$danger: #c00000; // Red
$light: #faf8f8; // Light grey
$dark: #343a40; // Dark grey
$white: #ffffff; // White
$black: #000000; // Black

$box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
$box-shadow-sm: 2px 2px 8px rgba(0, 0, 0, 0.3);
